body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1, h2 {
  margin: 0 auto;
  color: #ff03af;
}

header {
  min-width: 100%;
  text-align: center;
  color: white;
  padding-top: 2%;
  margin-bottom: 30px;
  /* border: solid red 1px; */
}

.container {
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  margin-top: 0;
  background: #ffd7fe;
  /* border: 1px solid red; */
}

.app {
  width: 70%;
  min-height: 80vh;
  border: 1px solid #ff03af;
  margin: 0 auto;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

button {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #ffa0e1 0%, #ff03af 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
 }
 
 button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
 }
 
 button:active {
  box-shadow: inset 0px 0.1em 0.6em #ff03af;
  transform: translateY(0em);
 }

 .btn_margin_yes {
  top: 40%;
  right: 30%;
  position: absolute;
  z-index: 1;
 }

 .btn_no_styles {
  top: 40%;
  left: 30%;
  position: absolute;
  z-index: 50;
}

img {
  position: absolute;
  /* display: none; */
  top: 0;
  width: 250px;
  height: 250px;
  top: 40%;
  right: 30%;
  z-index: 100;
}

@media (max-width: 640px) {

  h1 {
    font-size: 25px;
  }

  .btn_margin_yes {
    top: 40%;
    right: 10%;
   }

  img {
    width: 150px;
    height: 150px;
  }
}
